fieldset {
  padding: 0;
}
.userRepos {
  overflow: hidden; 
  max-height: inherit;
  max-width: 80%;
}

.filterForm {
  display: flex;
  margin-bottom: 15px;
}

.listRepos {
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  max-height: 500px;
  list-style: none;
}

.square {
  height: 13px;
  width: 13px;
  border: 1px solid black;
  align-self: center;
  margin: 0 20px;
  position: relative;
  display: inline-block;
}

.square:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 1px;
  background-color: black;
}

.form {
  display: inline-block;
  width: calc(100% - 50px);
  display: flex;
  justify-content: space-between;
}

.formText {
  flex-grow: 1;
}

.form button {
  margin: 0 5px;
}

.form button:last-of-type {
  margin-right: 0;
}