.filterForm {
  display: flex;
  margin-bottom: 15px;
}

.form {
  display: inline-block;
  width: calc(100% - 50px);
  display: flex;
  justify-content: space-between;
}

.formText {
  flex-grow: 1;
}

.form button {
  margin: 0 5px;
}

.checkAll {
  text-align: center;
}
