fieldset {
  padding: 0;
}

.userRepos {
  overflow: hidden;
  max-height: inherit;
  min-width: 75%;
  max-width: 76%;
}

.listRepos {
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  height: 500px;
  list-style: none;
}