.listItem {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.infoName {
  display: inline-block;
  margin: 10px;
}
.infoWrapper {
  overflow: hidden;
  flex: 1;
}
.infoDesc {
  margin: 0;
  word-wrap: break-word;
}
.btnWrapper {
  margin-right: 15px;
}